(
#nuestr.domain.Relay{:url "wss://nos.lol", :read? true, :write? true, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.bitcoiner.social", :read? true, :write? true, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.drss.io", :read? true, :write? true, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.einundzwanzig.space", :read? true, :write? true, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.wine", :read? true, :write? true, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostr.nu", :read? true, :write? true, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.plebstr.com", :read? true, :write? true, :meta? true}
#nuestr.domain.Relay{:url "wss://spore.ws", :read? true, :write? true, :meta? true}
#nuestr.domain.Relay{:url "wss://fiatdenier.com", :read? true, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://global.relay.red", :read? true, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://puravida.nostr.land", :read? true, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://purplepag.es", :read? true, :write? false, :meta? true}
)
