(
#nuestr.domain.Relay{:url "wss://nos.lol", :read? true, :write? true, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.bitcoiner.social", :read? true, :write? true, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.drss.io", :read? true, :write? true, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.einundzwanzig.space", :read? true, :write? true, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.wine", :read? true, :write? true, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.n057r.club", :read? true, :write? true, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostr.nu", :read? true, :write? true, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.plebstr.com", :read? true, :write? true, :meta? true}
#nuestr.domain.Relay{:url "wss://spore.ws", :read? true, :write? true, :meta? true}
#nuestr.domain.Relay{:url "wss://fiatdenier.com", :read? true, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://global.relay.red", :read? true, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.koning-degraaf.nl", :read? true, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://puravida.nostr.land", :read? true, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://anigma.io/", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://astral.ninja", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://atlas.nostr.land", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://base.trueprime.net", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://bitcoiner.social", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://blg.nostr.sx", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://brb.io", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://btc-italia.online", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://btc.klendazu.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://damus.io", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "ws://debian.fluffy-allosaurus.ts.net:4848", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://deschooling.us", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://dev2.hazlitt.fiatjaf.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://eden.nostr.land", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://eden.nostr.land/", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://eosla.com/", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://example.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://expensive-relay.fiatjaf.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://expensive-relay.fiatjaf.com/", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://fbx.tranbert.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://filter.nostr.wine", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://filter.nostr.wine/", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://freedom-relay.herokuapp.com/ws", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://freespeech.casa", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://git.sr.ht/~gheartsfield/nostr-rs-relay", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://hunter1998.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://jiggytom.ddns.net", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://latam1-nostr.stealthy.co", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://latam1-nostr.stealthy.co:7000", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://lightningrelay.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://localhost:5000/nostrrelay/client", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://localhost:5001", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://localhost:8080", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "ws://monad.jb55.com:8080", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://mule.platanito.org", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://mynostr.eximpius.xyz", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://no-str.org", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://no.contry.xyz", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://no.str.cr", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "ws://node.local:4848", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://node01.nostress.cc", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nodestr.fmt.wiz.biz/", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-01.bolt.observer", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-2.zebedee.cloud", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-bg01.ciph.rs", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-dev.wellorder.net", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-pub.semisol.dev", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-pub.wellorder.net", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-relay-dev.wlvs.space", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-relay.alekberg.net", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-relay.derekross.me", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-relay.digitalmob.ro", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-relay.freeberty.net", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-relay.gkbrk.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-relay.j3s7m4n.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-relay.lnmarkets.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-relay.local:7443/nostr/", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-relay.nokotaro.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-relay.nonce.academy", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-relay.trustbtc.org", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-relay.untethr.me", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-relay.usebitcoin.space", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-relay.wellorder.net", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-relay.wlvs.space", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-relay.wlvs.space/", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-relay.xbytez.io", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-verif.slothy.win", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-verified.wellorder.net", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr-zu01.ciph.rs", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.21m.fr", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.4liberty.one", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.actn.io", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.badran.xyz", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.bitcoiner.social/", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.bitcoinplebs.de", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.blockchaincaffe.it", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.cercatrova.me", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.ch/", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.coincreek.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.coinos.io", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.coinsamba.com.br", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.coollamer.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.coollamer.com/", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.d11n.net", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.danvergara.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.datamagik.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.ddns.net", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.delo.software", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.developer.li", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.directory", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.dpbu.de", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.easify.de", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.einundzwanzig.space/", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.fediverse.jp", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.fly.dev", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.fmt.wiz.biz", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.formigator.eu", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.gives.africa", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.glaubts.net", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.globals.fans", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.gromeul.eu", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.hackerman.pro", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.itas.li/", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "ws://nostr.jutsu.mx:7000", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.kollider.xyz", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.lnprivate.network", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.localhost.re", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.massmux.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.massmux.com/", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.member.cash", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.mikedilger.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.milou.lol", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.mom", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.mrbits.it", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.mustardnodes.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.mutinywallet.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.mwmdev.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.namek.link", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.nymsrelay.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.nyx.ma", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.ono.re", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.onsats.org", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.openchain.fr", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.orangepill.dev", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.oxtr.dev", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.p2sh.co", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.pleb.network", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.plebchain.org", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.pobblelabs.org", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.r3d.red", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.rdfriedl.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.relayer.se", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.retroware.run.place", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.rewardsbunny.com/", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.rikmeijer.nl", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.rocketstyle.com.au", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.rocks", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.roundrockbitcoiners.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.sandwich.farm", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.sectiontwo.org", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.semisol.dev", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.shadownode.org", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.sidnlabs.nl", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.slothy.win", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.snblago.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.sovbit.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.supremestack.xyz", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.swiss-enigma.ch", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.thekratomsyndicate.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.thibautrey.fr", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.trustbtc.org", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.twnty.one", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.unknown.place", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.v0l.io", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.walletofsatoshi.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.xmrk.mooo.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.zaprite.io", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.zebedee.cloud", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.zenon.wtf", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.zerofeerouting.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr.zkid.social/", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr1.starbackr.me", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr1.tunnelsats.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr2.actn.io", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostr21.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostream-production-59e8.up.railway.app", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostream-production-b80e.up.railway.app", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostream-test.up.railway.app", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostrical.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostrrelay.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://nostrrr.bublina.eu.org", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://offchain.pub", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://paid.spore.ws", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://paultodev.space", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://powrelay.xyz", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://public.nostr.swissrouting.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://qeqweqweqweqeq", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://ragnar-relay.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://redgreenblue.click", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relarelay.nosphr.com/", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay-jp.nostr.wirednet.jp", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay-pub.deschooling.us", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.alxgsv.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.bitid.nz", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.boring.surf", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.current.fyi", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.cynsar.foundation", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.damus.io", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.damus.io/", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.farscapian.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.futohq.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.grunch.dev", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.honk.pw", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.kronkltd.net", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.minds.com/nostr/v1/ws", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.mostr.pub", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.mynostr.id", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nosphr.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostr-latam.link", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostr.au", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostr.band", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostr.bg", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostr.ch", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostr.com.au", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostr.info", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostr.info/", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostr.net.in", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostr.or.jp", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostr.pro", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostr.ro", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostr.scot", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostr.snblago.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostr.wirednet.jp", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostr.xyz", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostrbr.online", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostrica.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostrich.de", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostrich.land", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostriches.org", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostrmoto.xyz", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostrplebs.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.nostrview.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.oldcity-bitcoiners.info", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.orange-crush.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.orangepill.dev", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.plebz.space", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.r3d.red", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.snort.social", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.sovereign-stack.org", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.stoner.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.taxi", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.thes.ai", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.valireum.net", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.ypcloud.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay.zerosequioso.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay1.nostrchat.io", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relay2.nostrchat.io", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://relayer.fiatjaf.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://rsslay.fiatjaf.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://rsslay.nostr.net", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://satstacker.cloud", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://scott-t460.dunker-eel.ts.net:8080", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://sg.qemura.xyz", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://snort.social", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://soullands.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://student.chadpolytechnic.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://testnet.arkaitzj.com/relay", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://tmp-relay.cesc.trade", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "ws://umbrel.local:4848", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "ws://umbrel.local:4848/", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://umbrel:4848", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "ws://umbrelos:4848", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://zerosequioso.com", :read? false, :write? false, :meta? true}
#nuestr.domain.Relay{:url "wss://zur.nostr.sx", :read? false, :write? false, :meta? true}
)
