@font-face {
    font-family: 'Roboto';
    src: url('/nuestr/font/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('/nuestr/font/Roboto-Bold.ttf');
}

* {
    -nd-basic-border-color: #aaa;
    -nd-hover-background-color: #eee;
    -nd-timeline-item-pubkey-color: lightgrey;
    -nd-timeline-item-timestamp-color: grey;
    -nd-timeline-item-name-color: black;
    -nd-publish-button-color: #2262ba;
}

.nuestr-tooltip {
    -fx-font-family: "Roboto";
    -fx-font-size: 10pt;
    -fx-font-weight: normal;
    -fx-background-color: lightyellow;
}

.nuestr-view-name {
    -fx-font-weight: bold;
}

.hyperlink {
    -fx-fill: blue;
}

.header > .hyperlink {
    -fx-fill: blue;
    -fx-border-width: 0;
}

.header > .hyperlink:focused {
    -fx-fill: blue;
    -fx-border-width: 0;
}

.header > .hyperlink:visited {
    -fx-fill: blue;
    -fx-border-width: 0;
    -fx-underline: false;
}

.nuestr-info-popup .hyperlink {
    -fx-fill: blue;
    -fx-margin: 0;
    -fx-border-width: 0;
}

.nuestr-info-popup .hyperlink:focused {
    -fx-fill: blue;
    -fx-margin: 0;
    -fx-border-width: 0;
}

.nuestr-info-popup .hyperlink:visited {
    -fx-fill: blue;
    -fx-border-width: 0;
    -fx-margin: 0;
    -fx-underline: false;
}


.nuestr-author-hbox: hover {
    -fx-border-color: lightblue;
}

.ndesk-lhs-pane {
    -fx-pref-width: 275;
    -fx-border-color: transparent -nd-basic-border-color transparent transparent;
    -fx-padding: 5px;
    -fx-background-color: white;
}

.ndesk-keycard {
    -fx-padding: 5px;
    -fx-border-insets: 2px;
    -fx-background-insets: 5px;
    -fx-border-color: -nd-basic-border-color;
    -fx-background-color: white;
}

.ndesk-keycard-photo {
    -fx-alignment: center;
    -fx-font-size: 24pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.ndesk-keycard-name {
    -fx-padding: 0 0 0 10px;
    -fx-font-weight: bold;
}

.ndesk-keycard-pubkey {
    -fx-padding: 0 10px;
    -fx-font-weight: bold;
    -fx-text-fill: -nd-timeline-item-pubkey-color;
}

.ndesk-keycard-about {
    -fx-padding: 20px;
}

.ndesk-status-bar {
    -fx-border-color: -nd-basic-border-color transparent transparent transparent;
}

.ndesk-status-relays {
    -fx-padding: 3px;
}

.ndesk-table-view {
    -fx-border-color: -nd-basic-border-color;
}

.ndesk-timeline-item-missing {
    /* -fx-background-color: darkblue; */
    /*-fx-alignment: center;*/
}

.ndesk-timeline-item-missing-hyperlink {
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.ndesk-timeline-item-photo {
    -fx-alignment: center;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.ndesk-timeline-item-name {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-text-fill: -nd-timeline-item-name-color;
    -fx-padding: 3px;
}

.ndesk-timeline-item-pubkey {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-text-fill: -nd-timeline-item-pubkey-color;
    -fx-padding: 3px;
}

.ndesk-timeline-item-timestamp {
    -fx-font-size: 8pt;
    -fx-text-fill: -nd-timeline-item-timestamp-color;
    -fx-padding: 3px;
}

.ndesk-timeline-item-content-outer {
    -fx-padding: 10px;
}

.ndesk-timeline-item-content {
    -fx-font-family: "Roboto";
    -fx-font-size: 12pt;
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.ndesk-publish-box {
    -fx-font-family: "Roboto";
    -fx-font-size: 12pt;
    -fx-pref-height: 1em;
}

.ndesk-publish-box:focused {
    -fx-pref-height: 5em;
}

.ndesk-reply-box {
    -fx-font-family: "Roboto";
    -fx-font-size: 12pt;
    -fx-pref-height: 5em;
}

.ndesk-publish-button {
    -fx-font-family: "Roboto Bold";
    -fx-background-color: -nd-publish-button-color;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-pref-width: 6em;
    -fx-pref-height: 2em;
    /*-fx-font-weight: bold; ...negates the boldness somehow*/
}

.nuestr-refresh-button {
    -fx-font-family: "Roboto Bold";
    -fx-pref-width: 2em;
    -fx-pref-height: 1.3em;
    -fx-font-size: 16pt;
}

.ndesk-reply-button {
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 9pt;
    -fx-pref-width: 5em;
    -fx-padding: 2px;
    -fx-background-color: -nd-publish-button-color;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.ndesk-reply-button:hover,
.ndesk-reply-button:hover:visited {
    -fx-text-fill: #aaa;
}

.ndesk-thread-button {
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 9pt;
    -fx-pref-width: 5em;
    -fx-padding: 2px;
    -fx-background-color: -nd-publish-button-color;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.ndesk-thread-button:hover,
.ndesk-thread-button:hover:visited {
    -fx-text-fill: #aaa;
}

.ndesk-timeline-item-info-link {
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 9pt;
    -fx-pref-width: 5em;
    -fx-padding: 2px;
    -fx-background-color: -nd-publish-button-color;
    -fx-text-fill: white;
    -fx-cursor: hand;
    /*-fx-font-weight: bold; ...negates the boldness somehow*/
}
    
.ndesk-timeline-item-info-link:hover,
.ndesk-timeline-item-info-link:hover:visited {
    -fx-text-fill: #aaa;
}

.ndesk-info-popup-region {
    -fx-font-family: "Roboto";
}

.ndesk-info-popup-region > .hyperlink:focused {
    -fx-border-width: 0;
}

.ndesk-info-popup-region > .hyperlink:visited {
    -fx-text-fill: -fx-accent;
}

.ndesk-contact-list {
    -fx-background: white; /* not -fx-background-color b/c scroll-pane */
    /*-fx-pref-width: 275px;*/
    /*-fx-min-width: 275px;*/
    /*-fx-max-width: 275px;*/
}

.ndesk-contact-card {
    -fx-padding: 10px;
    -fx-cursor: hand;
    -fx-border-color: #eee;
}

.ndesk-contact-card-active {
    -fx-border-width: 5px;
}

.ndesk-contact-photo {
    -fx-alignment: center;
    -fx-font-size: 18pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.ndesk-contact-pubkey {
    -fx-font-weight: bold;
    -fx-text-fill: -nd-timeline-item-pubkey-color;
}

.ndesk-add-contact {
    -fx-padding: 5px;
    -fx-border-color: -nd-basic-border-color;
    -fx-background-color: white;
    -fx-cursor: hand;
}


.identity-selector {
    -fx-font-size: 10pt;
    -fx-padding: 5px;
    -fx-font-weight: bold;
}

.relay-timeline-label {
    -fx-font-size: 9pt;
    -fx-padding: 5px;
    -fx-font-weight: bold;
}
